.main-chart
{
   margin: 30px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
     zoom: 0.9; 
   width: 600px;
background-color: #020517;
}

.plots
{

   zoom: 0.85;
   margin: 30px 0px;
   display: flex;
   justify-content: center;
   /* flex-direction: column; */
}