@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Titillium+Web&display=swap');

.user-info
{
    display: flex;
    margin: 50px 20vw;
    margin: 10px 15vw;
    flex-direction: column;
    /* border : 1px solid yellow; */
    
    
}
.user-profile
{
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    /* border : 1px solid red; */
}

.user-profile img
{
    height: 250px;
    aspect-ratio: 1/1;
}

.user-profile .username
{
    margin-top: 0px;
    margin-left: 50px;
}

.username p
{
    font-size: 18px;

    font-family: 'Rajdhani', sans-serif;
}

.username h1
{
    font-size: 55px;
    /* width: 400px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

.chstat
{
    /* border: 1px solid pink; */
    margin-top: 35px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    margin-bottom: 40px;
}

.topstats
{
    margin-top: 10px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto ;
}


.line
{
    border-bottom: 1px solid lightgray;
    /* width: 80v; */
    height: 1px;
}

.video-details
{
    margin: 50px 0;
    display: flex;
    width: 83vw;
    
}
.video-details img
{
    height: 280px;
    width: 500px;
    margin-left: -7vw;
    object-fit: cover;
    margin-right: 20px;
}

.video-main h1
{
    margin-bottom: 10px;
    font-family: 'Rajdhani', sans-serif;
}

.video-main a h2
{
    margin-left: 10px;
    font-size: 19px;
    
}
.video-main a h6
{
    font-weight: lighter;
    font-size: 14px;
    color: #aaa;
    margin-left: 10px;
}
.video-main a
{
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
}
.video-main img
{
    height: 65px;
    width:65px;
    border-radius: 100px;
    margin: 0 !important;
}
.video-main p
{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 5px;
}


.month-stats
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}