.vidpreview
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 14px 40px;
    
}

.vid-head
{
    display: flex;
    margin-bottom: 10px;
}

.vidpreview p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.vidpreview img
{
    height: 225px;
    width: 400px;
    object-fit: cover;
}

.prop
{
    width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    color: rgb(143, 143, 143);
}


.icon
{
    filter: hue-rotate(100);
    height: 20px !important; 
    width: 20px !important;
    margin-right: 6px;
}

.vid-key
{
    margin-right: 10px;
    display: flex;
    background-color: #00072e;
        padding: 4px 9px;
}

.vid-title p
{
    font-size: 14px !important;

}
.vid-title
{
    margin-top: 5px;
    text-decoration: none;
    color: white;
}